<header class="col">
	<div class="row-d-col-m centred cross-centred" id="header-title">
		<img src="/static/icons/Resindrake_logo_in_circle.png">
		<span>ResinDrakeNet</span>
	</div>
	<nav class="row centred cross-centred" id="header-nav">
		<a href="/">Home</a>
		{{#each this.query.data.pages}}
		<a href="{{this.relativePath}}">{{this.frontmatter.title}}</a>
		{{/each}}
	</nav>
	<div id="social-icons-metacontainer">
		<div class="row-d-rows-m" id="social-icons-container">
			<svg height="0" hidden width="0">
				<defs>
					<clipPath id="meta-clip-path">
						<rect height="1.005em" width="2.5em" />
					</clipPath>
				</defs>
			</svg>
			<div class="row">
				<svg class="social-icon-bubble"><circle cx="1.25em" cy="1.255em" r="0.9em" style="clip-path: url(#meta-clip-path);" /></svg>
				<svg class="social-icon-bubble"><circle cx="1.25em" cy="1.255em" r="0.9em" style="clip-path: url(#meta-clip-path);" /></svg>
				<svg class="social-icon-bubble"><circle cx="1.25em" cy="1.255em" r="0.9em" style="clip-path: url(#meta-clip-path);" /></svg>
			</div>
			<div class="row" id="social-icons">
				<a target="_blank" rel="noopener noreferrer" href="/redirect/gitlab">
					<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="rainbow-svg">
						<title>GitLab</title>
						<path d="M23.955 13.587l-1.342-4.135-2.664-8.189c-.135-.423-.73-.423-.867 0L16.418 9.45H7.582L4.919 1.263C4.783.84 4.185.84 4.05 1.26L1.386 9.449.044 13.587c-.121.375.014.789.331 1.023L12 23.054l11.625-8.443c.318-.235.453-.647.33-1.024" fill="#F4F4F5"/>
					</svg>
				</a>
				<a target="_blank" rel="noopener noreferrer" href="/redirect/github">
					<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="rainbow-svg">
						<title>GitHub</title>
						<path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" fill="#F4F4F5"/>
					</svg>
				</a>
				<a target="_blank" rel="noopener noreferrer" href="/redirect/patreon">
					<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="rainbow-svg">
						<title>Patreon</title>
						<path d="M15.386.524c-4.764 0-8.64 3.876-8.64 8.64 0 4.75 3.876 8.613 8.64 8.613 4.75 0 8.614-3.864 8.614-8.613C24 4.4 20.136.524 15.386.524M.003 23.537h4.22V.524H.003" fill="#F4F4F5"/>
					</svg>
				</a>
			</div>
		</div>
	</div>
</header>
