<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=512px" />
	{{#if this.frontmatter.description}}
		<title>{{this.frontmatter.title}} | ResinDrakeNet</title>
	{{else}}
		<title>ResinDrakeNet</title>
	{{/if}}
	{{#if this.frontmatter.description}}
		<meta name="description" content="{{this.frontmatter.description}}">
	{{/if}}
	{{#if this.frontmatter.author}}
		<meta name="author" content="{{this.frontmatter.author}}">
	{{/if}}
	<link href="/assets/style.css" rel="stylesheet" type="text/css">
	{{#> license }}{{/license}}
</head>
<body>
	{{#> particles }}{{/particles}}
	{{#> header }}{{/header}}
	{{> @partial-block}}
	{{#> footer }}{{/footer}}
</body>
</html>
