/* code by webdevtrick ( https://webdevtrick.com ) */

@import 'nord-palette';
.thumb {
    max-height: 171px;
    border: solid 6px white;
}
.lightbox {
    position: fixed;
    z-index: 999;
    height: 0;
    width: 0;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
}
.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
    opacity: 0;
}
.lightbox:target {
    outline: none;

    width: 100%;
    height: 100%;
    opacity: 1 !important;

}
.lightbox:target img {
    opacity: 1;
    webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}
.light-btn {
    color: #fafafa;
    background-color: #333;
    border: solid 3px white;
    padding: 5px 15px;
    border-radius: 1px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 45%;
    z-index: 99;
}
.light-btn:hover {
    background-color: #111;
}
.btn-prev {
    left: 7%;
}
.btn-next {
    right: 7%;
}
.btn-close {
    position: absolute;
    right: 2%;
    top: 2%;
    color: #fafafa;
    background-color: $red;
    padding: 10px 15px;
    border-radius: 1px;
    text-decoration: none;
}
.btn-close:hover {
    background-color: mix(white, $red, 15%);
}
