$bg: #24262E;
$bg2: transparentize(lighten($bg, 15), 0.35);
$fg: mix($bg, white, 5%);

$grey: #3B4252;
$red: #BF616A;
$green: #A3BE8C;
$yellow: #EBCB8B;
$orange: darken($yellow, 15);
$blue: #81A1C1;
$purple: #B48EAD;
$cyan: #88C0D0;
$white: #E5E9F0;
