#particles {
	left: 0;
	position: fixed;
	top: 0;
	z-index: -1;
}

.particle {
	position: absolute;
 	border-radius: 50%;
}

@for $i from 1 through 60 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		}
	}
	.particle-container:nth-child(#{$i}) {
		opacity: random(100)/100;
		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		animation-delay: -$i * .2s;
		animation: particle-animation-#{$i} 60s infinite;
	}
	.particle:nth-child(#{$i}){
		$size: random(3) + 3 + px;
		height: $size;
		width: $size;
		animation: rainbow-bg 8s ease infinite;
	}
}
