@import "nord-palette";

@mixin rainbow($property) {
  0% { /* red */
    #{$property}: $red;
  }
  14% { /* orange */
    #{$property}: $orange;
  }
  28% { /* yellow */
    #{$property}: $yellow;
  }
  42% { /* green */
    #{$property}: $green;
  }
  57% { /* cyan */
    #{$property}: $cyan;
  }
  71% { /* blue */
    #{$property}: $blue;
  }
  85% { /* purple */
    #{$property}: $purple;
  }
  100% { /* red */
    #{$property}: $red;
  }
}

@keyframes rainbow-bg {
  @include rainbow('background');
}

@keyframes rainbow-border {
  @include rainbow('border-color');
}

@keyframes rainbow-fg {
  @include rainbow('color');
}

@keyframes rainbow-fill {
  @include rainbow('fill');
}

@mixin rainbow-sd {
    $shadow-size: 3px;
    $shadow-size-minus: -3px;
  0% { /* red */
    -webkit-filter:
        drop-shadow($shadow-size 0px 0 $red)
        drop-shadow($shadow-size-minus 0 0 $red)
        drop-shadow(0 $shadow-size 0 $red)
        drop-shadow(0 $shadow-size-minus 0 $red);
    filter: drop-shadow($shadow-size 0px 0 $red)
        drop-shadow($shadow-size-minus 0 0 $red)
        drop-shadow(0 $shadow-size 0 $red)
        drop-shadow(0 $shadow-size-minus 0 $red);
  }
  14% { /* orange */
    -webkit-filter:
        drop-shadow($shadow-size 0px 0 $orange)
        drop-shadow($shadow-size-minus 0 0 $orange)
        drop-shadow(0 $shadow-size 0 $orange)
        drop-shadow(0 $shadow-size-minus 0 $orange);
    filter: drop-shadow($shadow-size 0px 0 $orange)
        drop-shadow($shadow-size-minus 0 0 $orange)
        drop-shadow(0 $shadow-size 0 $orange)
        drop-shadow(0 $shadow-size-minus 0 $orange);
  }
  28% { /* yellow */
    -webkit-filter:
        drop-shadow($shadow-size 0px 0 $yellow)
        drop-shadow($shadow-size-minus 0 0 $yellow)
        drop-shadow(0 $shadow-size 0 $yellow)
        drop-shadow(0 $shadow-size-minus 0 $yellow);
    filter: drop-shadow($shadow-size 0px 0 $yellow)
        drop-shadow($shadow-size-minus 0 0 $yellow)
        drop-shadow(0 $shadow-size 0 $yellow)
        drop-shadow(0 $shadow-size-minus 0 $yellow);
  }
  42% { /* green */
    -webkit-filter:
        ddrop-shadow($shadow-size 0px 0 $green)
        drop-shadow($shadow-size-minus 0 0 $green)
        drop-shadow(0 $shadow-size 0 $green)
        drop-shadow(0 $shadow-size-minus 0 $green);
    filter: drop-shadow($shadow-size 0px 0 $green)
        drop-shadow($shadow-size-minus 0 0 $green)
        drop-shadow(0 $shadow-size 0 $green)
        drop-shadow(0 $shadow-size-minus 0 $green);
  }
  57% { /* cyan */
    -webkit-filter:
        drop-shadow($shadow-size 0px 0 $cyan)
        drop-shadow($shadow-size-minus 0 0 $cyan)
        drop-shadow(0 $shadow-size 0 $cyan)
        drop-shadow(0 $shadow-size-minus 0 $cyan);
    filter: drop-shadow($shadow-size 0px 0 $cyan)
        drop-shadow($shadow-size-minus 0 0 $cyan)
        drop-shadow(0 $shadow-size 0 $cyan)
        drop-shadow(0 $shadow-size-minus 0 $cyan);
  }
  71% { /* blue */
    -webkit-filter:
        drop-shadow($shadow-size 0px 0 $blue)
        drop-shadow($shadow-size-minus 0 0 $blue)
        drop-shadow(0 $shadow-size 0 $blue)
        drop-shadow(0 $shadow-size-minus 0 $blue);
    filter: drop-shadow($shadow-size 0px 0 $blue)
        drop-shadow($shadow-size-minus 0 0 $blue)
        drop-shadow(0 $shadow-size 0 $blue)
        drop-shadow(0 $shadow-size-minus 0 $blue);
  }
  85% { /* purple */
    -webkit-filter:
        drop-shadow($shadow-size 0px 0 $purple)
        drop-shadow($shadow-size-minus 0 0 $purple)
        drop-shadow(0 $shadow-size 0 $purple)
        drop-shadow(0 $shadow-size-minus 0 $purple);
    filter: drop-shadow($shadow-size 0px 0 $purple)
        drop-shadow($shadow-size-minus 0 0 $purple)
        drop-shadow(0 $shadow-size 0 $purple)
        drop-shadow(0 $shadow-size-minus 0 $purple);
  }
  100% { /* red */
    -webkit-filter:
        drop-shadow($shadow-size 0px 0 $red)
        drop-shadow($shadow-size-minus 0 0 $red)
        drop-shadow(0 $shadow-size 0 $red)
        drop-shadow(0 $shadow-size-minus 0 $red);
    filter: drop-shadow($shadow-size 0px 0 $red)
        drop-shadow($shadow-size-minus 0 0 $red)
        drop-shadow(0 $shadow-size 0 $red)
        drop-shadow(0 $shadow-size-minus 0 $red);
  }
}

@keyframes rainbow-shadow {
  @include rainbow-sd;
}
