@import "nord-palette";
@import "fonts";
@import "rainbow";
@import "particles";
@import "tables";
@import "lightboxes";

a {
	animation: rainbow-fg 8s ease infinite;
	color: $fg;
}

p, span, a, td, footer, h1, h2 {
	text-shadow: 0 0 1px #FFFFFF7F;
}

html {
	background: $bg;
	color: $fg;
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
}

body {
	margin: 0 auto;
	padding: 3em 0 0 0;
	position: relative;
	width: 80vw;
	z-index: 1;
}

body > * {
	margin-bottom: 3em;
}

#header-nav {
	font-size: 1.75em;

	a {
		padding: 0.5em;
	}
}

#header-title {
	font-size: 4em;

	img {
		margin-right: 0.5em;
		width: 1em;
	}
}

#social-icons-metacontainer {
	position: relative;
}

#social-icons-container {
	align-self: flex-end;
	font-size: 3em;
	position: absolute;
	right: 1em;

	a {
		padding: 0.75em;

		svg {
			height: 1em;
			vertical-align: baseline;
			width: 1em;

			path {
				animation: rainbow-fill 8s ease infinite;
			}
		}
	}
}

.social-icon-bubble {
	height: 2.5em;
	width: 2.5em;

	circle {
		fill: $bg2;
	}
}

#social-icons {
	position: absolute;
}

content, footer {
	animation: rainbow-border 8s ease infinite;
	background: $bg2;
	border-left: 0.4em solid transparent;
	box-sizing: border-box;
	justify-content: space-between;
	padding: 2.1em;
}

content {
	h1 {
		margin-top: 0;
	}

	aside {
		margin-left: 1em;
	}



	pre {
		overflow-x: auto;
	}

	img, iframe {
		margin: 1rem 0;
		width: 100%;
	}

	iframe {
		height: 35rem;
	}

	p {
		margin-bottom: 0;
	}

	ul {
		margin: 0;
	}

	.markdown {
		img {
			width: 20em;
		}
	}
}

footer {
	padding: 1em;
	margin-bottom: 3em;
}

.social-media-list {
	columns: 4;
	list-style: none;
	li {
		justify-content: center;
		align-items: center;
		a {
			text-decoration: none;
		}
		svg {
			 width: 16px;
			 height: 16px;
			 justify-content: center;
			 align-items: center;
		}
	}
}

.social-media-list-icon {
	position: relative;
	top: 0.1em;
}

/* x-d-x-m indicates x on Desktop and y on Mobile */
.row, .col, .row-d-col-m, .row-d-rows-m {
	display: flex;
}
.col {
	flex-direction: column;
}
.centred {
	justify-content: center;
}
.cross-centred, .cross-centred-d {
	align-items: center;
}



@media screen and (orientation: portrait) { // mobile
	body {
		margin-top: 1em;
		width: 95vw;
	}

	#header-title > img {
		margin-right: 0;
	}

	#social-icons-container {
		align-self: center;
		font-size: 2em;
		right: 0;
		top: 0.5em;
	}

	content {
		padding-top: 3em;

		aside {
			margin-left: 0;
		}
	}
	footer {
		#footer-text {
			text-align: centre;
		}
	}
	.social-media-list {
		columns: 1;
		text-align: left;
		font-size: 2em;
		li {
			svg {
				 width: 1em;
				 height: 1em;
			}
		}
	}
	.social-media-list > li:nth-child(even) {
		margin-bottom: 1em;
	}

	/* x-d-x-m indicates x on Desktop and y on Mobile */
	.row-d-col-m {
		flex-direction: column;
	}
	.row-d-rows-m {
		flex-wrap: wrap;
	}
	.cross-centred-d {
		align-items: unset;
	}
	.cross-centred-m {
		align-items: center;
	}
}

.rainbow-png {
	animation: rainbow-shadow 8s ease infinite;
}

.rainbow-png, .hover:hover {
	animation: rainbow-shadow 8s ease infinite;
}

@media only screen and (max-width: 800px) {
	.rainbow-svg {
		filter: unset;
	}
}
