@import "nord-palette";

table {
    background: lighten($bg, 5);
    border-collapse: collapse;
    margin: 2rem 0;
    position: relative;

    .rotate {
        animation: circle 18s linear infinite;
        display: inline-block;
        position: absolute;
        top: -2rem;

        img {
            animation: wiggle 0.4s linear infinite;
            height: 2rem;
            margin: 0;
            width: 2rem;
        }
    }

    th {
        border: 1px solid $fg;
        padding: 1em;
        text-emphasis: strong;
        background: $bg;
    }

    td {
        border: 1px solid $fg;
        padding: 1em;


        &:nth-child(1) {
            background: lighten($bg, 2);
        }
    }

    tr {
        &:last-of-type {
            border-bottom: none;
        }
    }
}


.table-align-first-right {
    td {
        &:first-of-type {
            text-align: right;
        }
    }
}

@keyframes wiggle {
	0%, 100% {
		transform: rotate(10deg);
	}
	25% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(-10deg);
	}

	75% {
		transform: rotate(0deg);
	}
}

@keyframes circle {
	$size: 2rem;

	0%, 100% {
		top: -$size;
		left: -$size;
	}
	22% {
		transform: rotate(0deg);
	}

	25% {
		top: -$size;
		left: 100%;
	}

	28%, 47% {
		transform: rotate(90deg);
	}

	50% {
		top: 100%;
		left: 100%;
	}

	53%, 72% {
		transform: rotate(180deg);
	}

	75% {
		top: 100%;
		left: -$size;
	}

	78%, 97% {
		transform: rotate(270deg);
	}

	100% {
		transform: rotate(270deg);
	}
}
