{{#> main }}
	{{#> content }}{{/content}}
	{{#each this.frontmatter.gallery}}
	    <div class="lightbox" id="{{this.link}}">
	        <h1>{{this.display}}</h1>
	        {{#if this.prev}}<a href="#{{this.prev.link}}" class="light-btn btn-prev">{{this.prev.display}}</a>{{/if}}
	    	<a href="#" class="btn-close">X</a>
	    	<a href="{{this.path}}"><img src="{{this.path}}" class="hover" title="Click to Download"></a>
	        {{#if this.next}}<a href="#{{this.next.link}}" class="light-btn btn-next">{{this.next.display}}</a>{{/if}}
	    </div>
	{{/each}}
{{/main}}
