{{#> main }}
	{{#> content }}
		<table class="table-align-first-right">
			{{#each this.query.data.projectPages}}
			<tr>
				<td><a href={{this.relativePath}}>{{this.frontmatter.title}}</a></td>
				<td>{{this.frontmatter.description}}</td>
			</tr>
			{{/each}}
		</table>
	{{/content}}
{{/main}}
