{{#> main }}
	<content class="col cross-centred-m">
		<span class="row-d-col-m cross-centred-m">
			<span>
				<img src="/static/refsheet/toylike_seamless.png" style="max-width:50em">
			</span>
			<aside class="markdown">
				{{{body}}}
			</aside>
		</span>
		{{!-- <span>
			Bottomtext bottomtext bottomtext bottomtext bottomtext bottomtext bottomtext bottomtext bottomtext bottomtext bottomtext bottomtext bottomtext bottomtext
		</span> --}}
	</content>
	{{#each this.frontmatter.gallery}}
	    <div class="lightbox" id="{{this.link}}">
	        <h1>{{this.display}}</h1>
	        {{#if this.prev}}<a href="#{{this.prev.link}}" class="light-btn btn-prev">{{this.prev.display}}</a>{{/if}}
	    	<a href="#" class="btn-close">X</a>
	    	<a href="{{this.path}}"><img src="{{this.path}}" class="hover" title="Click to Download"></a>
	        {{#if this.next}}<a href="#{{this.next.link}}" class="light-btn btn-next">{{this.next.display}}</a>{{/if}}
	    </div>
	{{/each}}
{{/main}}
