{{#> main }}
	{{#> content }}
		<a href="#{{this.frontmatter.image.link}}">
		    <img {{#if this.frontmatter.rainbow}}class="rainbow-png"{{/if}} style="width: 30em" src="{{this.frontmatter.image.path}}">
		</a>
	{{/content}}
	<div class="lightbox" id="{{this.frontmatter.image.link}}">
		<a href="#" class="btn-close">X</a>
		<img src="{{this.frontmatter.image.path}}" alt="{{this.frontmatter.image.link}}">
	</div>
{{/main}}
